/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.hidden {
  display: none;
}

.invalid {
  outline: 1px solid red;
}

html,body{
  margin:0;
  padding:0;
  height: 100%;
}

body {
  font-family: source-sans-pro, sans-serif;
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

.app {
  border-radius: 20px;
  margin: auto;
  min-width: 200px;
  width: 40%;
}

.app.light {
  color: #181919;
  background: #F4F4F4;
}
.app.dark {
  color: #F0F1F1;
  background: #4A4D4E;
}

.app h1 {
  font-weight: 300;
}


