/*
 * 
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.hidden {
  display: none;
}

.invalid {
  box-shadow: inset 1px 1px 6px 0 rgb(255,0,0), inset -1px -1px 6px 0 rgb(255,0,0);
}

html,body{
  margin:0;
  padding:0;
  height: 100%;
}

body {
  font-family: 'Source Sans', helvetica, arial, sans-serif;
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

.app {
  color: #F0F1F1;
  background: #4A4D4E;
  min-width: 250px;
  position: relative;
}

.app.dark a,
.app.dark a:hover,
.app.dark a:active,
.app.dark a:visited {
  color: #F0F1F1;
  text-decoration: none;
}

.app h1 {
  font-weight: 300;
}

.main-header {
  color: #373435;
  background: #fff;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 20px;
  position: relative;
}
.main-header h1 {
  font-size: 40px;
  margin: 5px 0 0;
  letter-spacing: -.065em;
  line-height: 1.1em;
}
.main-header a {
  color: #464646;
  text-decoration: none;
}
.main-header a:hover {
  color: #000;
}
.main-header p {
  font-size: 13px;
  color: #999;
  margin: 0;
}
.main-header nav {
  display: none;
}

.notice,
.alert {
  background: rgba(0,0,0,0.8);
  border-radius: 20px;
  box-sizing: border-box;
  display: none;
  padding: 3rem;
  left: 12%;
  position: absolute;
  top: 4rem;
  width: 76%;
}

.transition,
.transition:before {
    -webkit-transition: all .2s;
}

.pressable:active,
.pressable:active:before {
    padding-top: 1px;
}

.segment-divider {
    border-color: #58595A;
    margin: 1em;
}

@media screen and (min-width: 650px) {
  .main-header h1 {
    font-size: 5em;
  }

  .main-header {
    color: #373435;
    background: #fff;
  }
}

@media screen and (min-width: 880px) {
  body {
    background: #535455 !important;
  }

  .app {
    border: 1px solid white;
    border-radius: 20px;
    margin: auto;
    margin-top: 1em;
    width: 40%;
  }

  .control-group {
    height: 3rem;
  }

  .section-title {
    font-weight: 300;
    font-size: 2rem;
  }

  .main-header {
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
  }
}