<h1>Sign-in</h1>

<p>
  <form action="/users/authenticate" method="post">
      <input class="topcoat-text-input--large signin__input transition" type="text" id="username" name="username" value="" placeholder="Username" autofocus />
      <input class="topcoat-text-input--large signin__input transition" type="password" id="password" name="password" value="" placeholder="Password" autocomplete="off" />
      <input class="topcoat-button--large--cta signin__input transition pressable" id="login" type="submit" value="Log on" />
  </form>
</p>