<h1>Sign-in</h1>

<p>
  <form action="/users/authenticate" method="post">
    <div>
      <label for="username">User name:</label>
      <input type="text" id="username" name="username" value="" autofocus />
    </div>

    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" value="" autocomplete="off" />
    </div>

    <div>
      <input type="submit" value="Log in" />
    </div>
  </form>
</p>